* {
    margin: 0px;
    padding: 0px;
    font-family: 'Averia Gruesa Libre';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    width: 500px;
    height: 500px;
    /* border: 2px solid black; */
    border-radius: 10px;
    position: relative;  
    background: rgb(255,99,71);
    box-shadow: 2px 2px 28px 5px rgba(158, 158, 158, 0.5);
}

#sign-up-container {
    position: absolute;
    bottom: 0px;
    height: 450px;
    width: 100%;
    /* border: 2px solid red; */
    border-radius: 10px;
    background-color: #f9f9f9;
    /* background: rgb(255,99,71);
    background: linear-gradient(11deg, rgba(255,99,71,1) 50%, rgba(255,255,255,1) 50%); */
    box-shadow: 1px -2px 13px -1px rgba(255, 255, 255, 1);
}

h1 {
    text-align: center;
    /* color: rgb(75, 75, 75); */
    color: #f9f9f9;
    height: 50px;
    line-height: 50px;
}

.logo {
    position: absolute;
    font-size: 40px;
    left: 20px;
    top: 6px;
    color: #f9f9f9;
}

.social-container {
    height: 55px;
    /* border: 1px solid black; */
    line-height: 55px;
    width: 225px;
    margin: 0 auto;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
    align-items: center;
    text-decoration: none;
	margin: 0 15px;
	height: 40px;
    width: 40px;
    box-shadow: 0px 0px 5px 0px rgba(199, 199, 199, 0.75);
    transition: 0.5s ease;
}

.social-container a:hover {
    background-color: #fff;
}

#div-line {
    position: relative;
    border-top: 2px solid #ccc;
    margin: 10px 0px;
}

#div-line p {
    position: absolute;
    top: -11px;
    left: 50%;
    background-color: #f9f9f9;
    color: #5a5a5a;
    transform: translateX(-50%);
    width: 200px;
}

.fa-facebook{
    padding: 2px;
    color: #3B5998;
}

.fa-google-plus{
    padding: 2px;
    color: #dd4b39;
}

.fa-linkedin{
    padding: 2px;
    color: #007bb5;
}

#para-or {
    text-align: center;
    font-size: 14px;
}

#input-container {
    padding: 0 20px;
    /* border: 2px solid black; */
    height: auto;
}

input[type="text"], input[type="password"], input[type="email"] {
    outline: none;
    border: none;
    background-color: #eee;
    width: 100%;
    padding: 12px 15px;
    border-radius: 20px;
    margin: 10px 0;
}

#password {
    position: relative;
    /* border: 1px solid black; */
}

#password #showPassword{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
}

#password #showPassword:hover {
    cursor: pointer;
}

input[type="submit"] {
    display: block;
    outline: none;
    border: none;
    padding: 12px 90px;
    background-color: #ff6347;
    color: white;
    border-radius: 20px;
    margin: 0 auto;
    font-size: 15px;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    cursor: pointer;
}

.policy {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}

.policy a {
    text-decoration: none;
    color: tomato;
}
